        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-color: #f5f5f5; /* Light gray background */
        }

        header {
            background-color: #3498db;
            color: #fff;
            padding: 15px;
            overflow: hidden;
        }

        header a {
            text-decoration: none;
            background: #fff;
            color: #333;
            padding: 10px;
            display: block;
            float: left;
            margin-right: 10px;
            border-radius: 5px; /* Add rounded corners to buttons */
            /* transition: background 0.3s ease; Smooth hover transition */
        }

        header a:hover {
            background: #ffeb3b; /* Yellow on hover */
        }

        header .right {
            float: right;
        }

        main {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        form {
            max-width: 600px;
            width: 100%;
            padding: 20px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 10px;
        }

        input,
        textarea,
        select {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 5px;
            appearance: none;
        }

        select:hover {
            cursor: pointer;
        }

        select {
            background-color: #f8f8f8;
            color: #333;
        }

        /* Use flex to display time slots horizontally */
        .time-slots {
            display: flex;
            gap: 10px; /* Adjust the gap between time slots */
        }

        .time-slot-box {
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.3s ease;
        }

        .time-slot-box:hover {
            background-color: #f0f0f0;
        }

        .time-slot-box select {
            width: 100%;
            appearance: none;
            border: none;
            background-color: transparent;
        }

        button {
            background-color: #3498db;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #258cd1;
        }